openapi: 3.1.0
info:
  title: Lincoln Financial LincSmart APIs Enrollment Plan Design API
  description: Lincoln Financial provides LincSmart APIs for benefits administration integration. The platform includes Enrollment, EOI (Evidence of Insurability), and Plan Design APIs that enable real-time data sync between Lincoln Financial and benefits administration platforms such as ADP, Workday, Businessolver, bswift, and Benefitfocus.
  version: 1.0.0
  contact:
    name: Lincoln Financial
    url: https://www.lincolnfinancial.com
servers:
- url: https://www.lincolnfinancial.com
  description: Lincoln Financial
tags:
- name: Plan Design
paths:
  /plan-design:
    get:
      operationId: getPlanDesign
      summary: Get Plan Design Information
      description: Retrieves plan information including rules and rates from Lincoln to flow into benefits administration platforms automatically.
      parameters:
      - name: planId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response with plan design data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  planId:
                    type: string
                  planName:
                    type: string
                  rules:
                    type: object
                  rates:
                    type: object
        '401':
          description: Unauthorized.
      tags:
      - Plan Design
